{% extends 'layout/base-navbar.html' %} {% block _links %}
<link rel="stylesheet" href=" css/style-data.css" />
{% endblock %} {% block _content %}
<form action="" method="post">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center py-0 pe-0 ps-3" id="alert" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="position: relative; background-color: transparent; width: 30px"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <h1>Data Mahasiswa</h1>
    <div class="input mahasiswa">
        <input type="text" name="mahasiswa" id="mahasiswa" required />
        <label for="mahasiswa">Mahasiswa</label>
    </div>
    <div class="input email">
        <input type="text" name="email" id="email" required />
        <label for="email">Email</label>
    </div>
    <div class="input phone">
        <input type="text" name="phone" id="phone" required />
        <label for="phone">No. Telepon</label>
    </div>
    <div class="input jurusan">
        <input type="text" name="jurusan" id="jurusan" required />
        <label for="jurusan">Jurusan</label>
    </div>
    <button type="submit" class="btn edit">
        <i class="fa-solid fa-plus"></i>
        <p class="mb-0">Tambah</p>
    </button>
</form>
<div class="table-data">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Mahasiswa</th>
                <th scope="col">Email</th>
                <th scope="col">Jurusan</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.major }}</td>
                <td>
                    <a href="{{ url_for('mahasiswaLihat', uid = student.id) }}" class="btn btn-secondary">Lihat</a>
                    <a href="{{ url_for('mahasiswaEdit', uid = student.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('mahasiswaHapus', uid = student.id) }}" class="btn btn-danger">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
